.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    background:white;
    padding-top:16px;
}
nav{
    max-width:1600px;

    margin:0px auto;
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 139px;
height: 60px;
font-weight: bold;
}
nav .menu{
    display:flex;
    list-style-type: none;
    gap:32px;
    align-items: center;
}
nav .menu a{
    font-size: 16px;
    text-decoration: none;
    color:#000000;
}
.btn .primary{
    background-color:#30B868 ;
    border:none;
    width: 210px;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    color:white;
    cursor:pointer;
    border-radius: 5px;
    margin-bottom: 80px;
    
    text-align: center;
       border-color: #fff;
    box-shadow: 0 0 20px rgba(202, 138, 138, 0.63);
    transform: translateY(-3px);
       
    
}
.btn .secondary{
  
  background-color: rgba(102, 90, 90, 0.7);
    border: none;
    width: 210px;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 80px;
    
       border-color: #fff;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.438);
    transform: translateY(-3px);
    
}

#banner{
  
    margin-top:10px;
    background-image: url(./Sections/assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
   text-align: center;
    
}

    

#banner .banner-content .p{
    
  
    display: inline-block;   
    background-color: rgba(255,255,255,0.8);
    padding: 8px 16px;      
    border-radius: 6px;      
    font-size: 16px;
    font-weight: 600;
    color: #198847;
    margin-top:200px;
   
    padding-bottom:10px;  
}



    

.green{
    color:#30B868
}
#banner .banner-content h1{
    font-size:bold;
    color:white;
    padding-top:20px;
    padding-bottom:30px;
}
#banner .banner-content  .text-box{

    padding-top:18px;
    font-size:18px ;
    color:#F7F6F2;
    line-height: 24px;
    margin-bottom:50px ;
}



.btner:hover{
    background-color:#30B868;
    height:50px;
    width:150px;
    border:none;
    font-size: 16px;
    border-radius: 5px;
    cursor:pointer;
        border-color: #fff;
    box-shadow: 0 0 20px rgba(212, 69, 69, 0.8);
    transform: translateY(-3px);
}
#skills{
    padding-top:40px;
}
.skills-container{
max-width: 1600px;
    margin: 0 auto;
}
.section-heading{
    text-align: center;
margin-bottom:3px ;
}
.section-heading h1{
    margin-top:20px;
    margin-bottom:20px;
}
.section-heading p{
color: #627362;
}
.skill-box{
     display: flex;
     justify-content: space-around;
     gap:40px;
}
.skill-card{
    border-radius:5px;
    flex:1;
    background-color:#F7F6F2(41, 40, 40, 0.349) ;
    height: 230px;
    width:300px;
    border-radius: none;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 0;
}
.skill-card img{
    border-radius: 15px;
    margin-top: 60px;
    background-color: #f95555;
}
.skill-card h3{
    margin-top:20px;
}
.skill-card p{
    margin-top: 10px;
}
#features-section{
    margin-top: 200px;
    margin-left: 120px
}
#features-section{
    display: flex;
    align-items: center;
    gap: 80px;
    
}
.features-text h5{
    color:#30B868;
    margin-left:28px;
    font-size: 16px;
    margin-bottom: 20px;
    letter-spacing: 1px;

}
.features-text h2{
    
    margin-left: 28px;
font-size: 48px;
font-weight: bold;
padding-bottom:40;

}
.features-text p{
    width:300px;
    margin-top:20px;
    margin-bottom:30px;
    font-size:16px;
    line-height: 1.6;
    margin-top: 30px;
    margin-left:28px;
}
.features-text ul{
    list-style-type: none;

}
.features-text ul li{
    padding-left: 28px;
    margin-bottom: 14px;
    font-size:16px;
}
#features-low{
    margin-top:150px;
    height: 400px;
    margin-left: 200px;
    margin-right:200px;
    margin-bottom:40px;
    background-color:#F7F6F2;
    box-sizing: border-box;
    align-items: center;
    text-align: center;

}
#features-low .features-more h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom:60px; 
    margin-top:20px;
    padding-top:40px;
}
.features-more p{
    font-size: 16px;
    line-height: 1.6;
    max-width: px; 
    text-align: center;
}
.btn .you{
    border:none;
    background-color: #30B868;
    text-align: center;
    font-size:16px;
    height:48px;
    width:180px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor:pointer;
    border-radius: 4px;
        border-color: #fff;
    box-shadow: 0 0 20px rgba(189, 54, 54, 0.8);
    transform: translateY(-3px);
}

#footer-container{
    
    width:100%;
    background-color:#043969 ;
    box-sizing: border-box;
    display:flex;
    height:330px;
    
  

}
#footer-container .imagin{
    margin-left: 80px;
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   
}
.Social h2{
    font-size: 20px;
    margin-left :1300px;
    color: #F7F6F2;
    align-items:flex-end;
    
}
.horse{
    font-size:18px;
     display: flex;
     margin-left: 1310px;
     gap:12px;
     
}
.footer-bottom{
    background-color: #043969;
    color:aliceblue;
    text-align: center;
    padding-top:30px;
    padding-bottom: 50px;
    font-size: 16px;
}
#banner .banner-content p img{
    
    margin-top: 9px;
}
.footer-line{
  width:90%;
  margin:0 auto;
    border:none;
    height:1px;
    background-color:#665b5b;
    margin-bottom: 30px;
    
}

