*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    background:white;
    padding-top:16px;
}
nav{
    max-width:1600px;

    margin:0px auto;
    display: flex;
    justify-content: space-between;
}
.logo img{
    width: 139px;
height: 60px;
font-weight: bold;
}
nav .menu{
    display:flex;
    list-style-type: none;
    gap:32px;
    align-items: center;
}
nav .menu a{
    font-size: 16px;
    text-decoration: none;
    color:#000000;
}
.btn .primary{
    background-color:#30B868 ;
    border:none;
    width: 210px;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    color:white;
    cursor:pointer;
    
    
}
.btn .secondary{
    background-color:#30B868 ;
    border:none;
    width: 210px;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    color:white;
    cursor:pointer;
    margin-bottom: 70px;
    
}

#banner{
  
    margin-top:10px;
    background-image: url(./Sections/assets/hero-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
   text-align: center;
    
}
#banner .banner-content{
    
}
#banner .banner-content .p{
    background-color: ;
    

    font-size: 16px;
    font-weight: 300;
    color:#30B868;
    margin-bottom: 10px;
    padding-top:210px;
    padding-bottom: 10px;
    
}
#banner .banner-content .h1{
    margin-bottom: 16px;
    padding-top:30px;
}
#banner .banner-content  .text-box{

    padding-top:18px;
    font-size:18px ;
    color:#FFFFFF;
    line-height: 24px;
    margin-bottom:40px ;
}



.btner{
    background-color:#30B868;
    height:50px;
    width:150px;
    border:none;
    font-size: 16px;
    border-radius: 5px;
}
#skills{
    padding-top:40px;
}
.skills-container{
max-width: 1600px;
    margin: 0 auto;
}
.section-heading{
    text-align: center;
margin-bottom:3px ;
}
.section-heading h1{
    margin-bottom:10px;
}
.section-heading p{
color: #627362;
}
.skill-box{
     display: flex;
     justify-content: space-around;
     gap:40px;
}
.skill-card{
    flex:1;
    background-color:rgb(241, 238, 238) ;
    height: 230px;
    width:300px;
    border-radius: none;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skill-card img{
    margin-top: 50px;
    background-color: #f95555;
}
#features-section{
    margin-top: 200px;
    margin-left: 120px
}
#features-section{
    display: flex;
    align-items: center;
    
    gap: 80px;
    
}
.features-text h5{
    margin-left:28px;
    font-size: 16px;
    margin-bottom: 20px;
    letter-spacing: 1px;

}
.features-text h2{
    
    margin-left: 28px;
font-size: 48px;
font-weight: bold;
padding-bottom:40;

}
.features-text p{
    width:300px;
    margin-top:20px;
    margin-bottom:30px;
    font-size:16px;
    line-height: 1.6;
    margin-top: 30px;
    margin-left:28px;
}
.features-text ul{
    list-style-type: none;

}
.features-text ul li{
    padding-left: 28px;
    margin-bottom: 14px;
    font-size:16px;
}
#features-low{
    margin-top:150px;
   height: 400px;
    background-color: antiquewhite;
    box-sizing: border-box;
    align-items: center;
    text-align: center;

}
#features-low .features-more h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom:60px; 
    margin-top:20px;
    padding-top:40px;
}
.features-more p{
    font-size: 16px;
    line-height: 1.6;
    max-width: px; 
    text-align: center;
}
.btn .you{
    border:none;
    background-color: #30B868;
    text-align: center;
    font-size:16px;
    height:52px;
    width:180px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#footer-container{
    
    width:100%;
    background-color:#001931 ;
    box-sizing: border-box;
    display:flex;
    height:330px;
    
  

}
#footer-container .imagin{
    margin-left: 80px;
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   
}
.Social h2{
    font-size: 20px;
    margin-left :1300px;
    color:wheat;
    align-items:flex-end;
    
}
.horse{
    font-size:18px;
     display: flex;
     margin-left: 1300px;
     gap:12px;
     
}
.footer-bottom{
    background-color: #001931;
    color:aliceblue;
    text-align: center;
    padding-bottom: 30px;
}


